@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .toast-top-center {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
